.slick-prev, .slick-next {
    z-index: 2; /* Adjust this value as necessary */
}

/* CSS */
.modal {
    transition: opacity 3s ease-in-out; /* Fade-in and fade-out transition */
}

.modal-content {
    transition: opacity 3s ease-in-out; /* Fade-in and fade-out transition */
}
